<script>

    import {Link} from "svero"

</script>

<header>
    <Link href="/home" className="logo">Hello!</Link>
    <nav>
        <ul>
            <li><Link href="/home">Home</Link></li>
            <li><Link href="/about">About</Link></li>
        </ul>
    </nav>
</header>